/*
 Clases propias de openlayers
 * */
.dataLayersDiv{
	margin-top: 1px;
	border-top: 1px solid rgba(0, 0, 0, 0.8);
}

.baseLayersDiv, .baseLbl{
	/*border-top: 1px solid rgba(0, 0, 0, 0.8);*/
	border-top: 1px solid rgba(0, 0, 0, 0.8);
}
.baseLayersDiv{
	padding-bottom: 5px;
}
.baseLbl, .dataLbl{
	text-align:center;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 13px;
}
/******/

/* General styles for all menus */
.cbp-spmenu {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	color: #fff;
	list-style:none;	
}

.cbp-spmenu input {	
	margin-top: 5px;	
}

.cbp-spmenu img{
	/*border: 1px solid rgba(255, 255, 255, 0.55);
	border-radius: 4px;*/
}
.cbp-spmenu h3 {
	/*font-family: "Arial, Helvetica, Verdana";*/
	color: #fff;
	font-size: 15px;
	padding: 1px;
	padding-left: 6px;
	margin: 0;
}

.cbp-spmenu a {
	display: block;	
	color: #fff;
	font-size: 0.9em;
	text-decoration:none;
	/*font-weight: 300;*/
}

.cbp-spmenu a:hover {
	/*background-color: rgba(0, 0, 0, 0.7);*/
}

.cbp-spmenu a:active {
	/*background: #000000;
	color: #3F6EA3;*/
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {	
	height: 100%;	
	/*overflow:auto;*/
	top: 0;
	z-index: 1000;
}

#cbp-spmenu-s1 {	
	
	background: rgba(0, 0, 0, 0.8);	
	
}

#cbp-spmenu-s2 {	
	
	background: rgba(0, 0, 0, 0.8);
}


.cbp-spmenu-vertical a {
	position:relative;	
	width:99%;	
	height: 40px;
	background: none repeat scroll rgba(0, 0, 0, 0.0);
	vertical-align: middle;
	text-align: center;
	bottom: -5px;
	/*padding: 0.7em;*/
}
/*********************/
.secLegend{
	position: absolute;	
	top:0px;
	width: 40px;
	margin-left: -40px;
	height: 40px;
	z-index: 1100;
	border: none;
	background: none repeat scroll rgba(0, 0, 0, 0.8);
	cursor: pointer;	
			
	background-repeat: no-repeat;	
	border-radius: 8px 0 0 8px;
}
.cbp-spmenu-vertical .secLegend .showRight{		
	position: relative;
	z-index: 1100;
	
	width: 36px;	
	height: 36px;
	margin-top:2px;
	margin-left:2px;
	border: none;	
	cursor: pointer;
	background-color: transparent;
	background-image: url("../img/icon-legend.png");
}
.cbp-spmenu-vertical .secLegend .showRight.active{		
	position: absolute;	
	width: 36px;
	height: 36px;
	margin-top:2px;
	margin-left:2px;
	z-index: 1100;
	border: none;
	
	cursor: pointer;
	background-color: transparent;
	background-image: url("../img/icon-back-legend.png");	
}


.secTools{
	position:absolute;	
	width: 40px;
	height: 40px;
	top: 0px;
	margin-right: -40px;
	margin-left: 50px;
	z-index: 1300;		
	border: none;	
	background: none repeat scroll rgba(0, 0, 0, 0.8);
	cursor: pointer;
		
	background-repeat: no-repeat;	
	border-radius: 0 8px 8px 0	;
	float: left;
}

.cbp-spmenu-vertical .secTools .showLeft{
	position:absolute;	
	width: 36px;
	height: 36px;
	top: 0px;
	margin-right: 2px;
	margin-top: 2px;
	z-index: 1301;		
	border: none;	
	
	cursor: pointer;
	background-color: transparent;
	background-image: url("../img/icon-tools.png");		
	background-repeat: no-repeat;	
	
}
.cbp-spmenu-vertical .secTools .showLeft.active{
	position:absolute;	
	width: 36px;
	height: 36px;
	top: 0px;
	margin-right: 2px;
	margin-top: 2px;
	z-index: 1100;		
	border: none;		
	
	cursor: pointer;
	background-color: transparent;
	background-image: url("../img/icon-back-tools.png");		
	background-repeat: no-repeat;
}




/*********************************/
.cbp-spmenu-horizontal {	
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 40px;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	width: 50px;
	left: -50px;
}

.cbp-spmenu-right {
	width: 220px;
	top: 0px;/*Menu Derecha*/
	right: -220px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}
#content_legend{
	margin-left: 8px;
}


