/* General Demo Style */

/* Reset */
/*
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main{
	position:absolute;
	background: none repeat scroll rgba(255, 255, 255, 0.4);
	border-radius: 4px;	
	z-index: 1200;
	width: 26px;
	height: 26px;
	right:1px;		
	top: 1px;
	padding: 1px;
	margin: auto;	
}
/**
 * 	fullscreen
 */
.main2{
	position:absolute;
	top: 390px;
	z-index: 1200;
	width: 40px;
	height: 40px;
	margin-left: 50%;
	margin-right: 50%;
	left: -19px;
	right: -20px;	
}
.main2:hover{
	background: none repeat scroll rgba(255, 255, 255, 0.1);
	border-radius: 8px;	
}

.main > section {		
	margin: auto;	
}
.main > section button {
	position: absolute;	
	width: 23px;
	height: 23px;
	margin: 1.5px;
	z-index: 1200;		
	border: none;	
	background: none repeat scroll rgba(0, 60, 136, 0.45);
	cursor: pointer;		
}
.main2 > section button {		
	position: absolute;	
	width: 40px;
	height: 40px;	
	z-index: 1200;
	border:none;
	padding-left: 20px;
		
	background-color: transparent;
	background-image: url("../img/icon-fullscreen-off.png");		
	background-repeat: no-repeat;	
}


/**
 * 	Fullscreen
 */
.main2 > section button:hover {	
	background-image: url("../img/icon-fullscreen-on.png");
	cursor: pointer;
}

.main2 > section button.active {
	background-image: url("../img/icon-fullscreen-on.png");
}

.main2 > section button.disabled {
	background-image: url("../img/icon-fullscreen-off.png");
}
/***************************/
#showRight{	
	background-image: url("../img/icon-legend.png");		
	background-repeat: no-repeat;	
	border-radius: 4px;	
}


#shutdown{
	background-color: #000; 
}


.main > section button:hover {	
	background: none repeat scroll rgba(0, 60, 136, 0.7);
}

.main > section button.active {
	background: none repeat scroll rgba(0, 60, 136, 0.7);
}

.main > section button.disabled {
	background: none repeat scroll rgba(0, 60, 136, 0.45);
	/*pointer-events: none;*/
}






