html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	min-height: 500px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

#map {
	height: 100%;
}

#tools {
	position: absolute;
	z-index: 1200;
	background-color: transparent;
	/*background: none repeat scroll rgba(0, 0, 0, 1);*/
	top: 0px;
	width: 50px;
	height: 100%;
	/*overflow: hidden;*/
	/*border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	 border-left:2px solid rgba(0, 0, 0, 0.5);
	 border-right:2px solid rgba(0, 0, 0, 0.5);
	 border-radius: 0 0 6px 6px;
	 color: #fff;*/
}

#tools #icons {
	position: absolute;
	overflow: auto;
	width: auto;
	height: 100%;
}

/*#tools #measure {
 width:auto;
 height: 400px;
 position: absolute;
 bottom: 0px;
 right: 0px;
 padding-right: 10px;
 text-align:right;

 }*/
#tools #measure {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0 0 8px 8px;
	width: 190px;
	height: 32px;	
	display: block;
	position: relative;
	left: 92px;
	top: 0px;
	padding-top: 9px;
	padding-left: 10px;
	font-size: 1.2em;
	
}

/**
 * 	Shadows box
 */
#icons .olControlZoomToMaxExtentItemActive, #icons .olControlZoomToMaxExtentItemInactive:hover, #icons .olControlZoomToMaxExtentItemActive:hover, #icons .panItemInactive:hover, #icons .panItemActive, #icons .panItemActive:hover, #icons .olControlZoomInItemActive, #icons .olControlZoomInItemActive:hover, #icons .olControlZoomInItemInactive:hover, #icons .olControlZoomOutItemActive, #icons .olControlZoomOutItemActive:hover, #icons .olControlZoomOutItemInactive:hover, #icons .pathItemInactive:hover, #icons .pathItemActive, #icons .pathItemActive:hover, #icons .polygonItemInactive:hover, #icons .polygonItemActive, #icons .polygonItemActive:hover, #icons .histPreviousItemInactive:hover, #icons .histPreviousItemActive, #icons .histPreviousItemActive:hover, #icons .histNextItemInactive:hover, #icons .histNextItemActive, #icons .histNextItemActive:hover, #icons .infoItemInactive:hover, #icons .infoItemActive, #icons .infoItemActive:hover, #icons .fsItemInactive:hover, #icons .fsItemActive, #icons .fsItemActive:hover {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background: none repeat scroll rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0.15em 0.12em rgba(255, 255, 255, 0.6);
	border-radius: 6px;
}

#icons .olButton {
	z-index: 1401;
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	height: 38px;
	width: 38px;
	left: 6px;
	margin-top: 4px;
	border-radius: 6px;
	-moz-transition: color 0.4s ease;
	-webkit-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
}
/*
 #icons .olButton:hover {
 background-repeat: no-repeat;
 background-position:center;
 cursor: pointer;
 background: none repeat scroll rgba(255, 255, 255, 0.2);
 box-shadow: 0 0 0.14em 0.10em rgba(255, 255, 255, 0.8);
 border-radius: 6px;

 }*/

/**
 * 	Vista inicial
 */
#icons .olControlZoomToMaxExtentItemInactive {
	background-image: url("img/icon-world-off.png") !important;
	background-repeat: no-repeat;
	background-position: center;
}
#icons .olControlZoomToMaxExtentItemActive, #icons .olControlZoomToMaxExtentItemInactive:hover, #icons .olControlZoomToMaxExtentItemActive:hover {
	background-image: url("img/icon-world-on.png") !important;
}
/**
 * 	Move
 */
#icons .panItemInactive {
	background-image: url("img/icon-move-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .panItemInactive:hover, #icons .panItemActive, #icons .panItemActive:hover {
	background-image: url("img/icon-move-on.png");
}

/**
 * 	Zoom
 */
#icons .olControlZoomInItemInactive {
	background-image: url("img/icon-zoomin-off.png") !important;
	background-repeat: no-repeat;
	background-position: center;
}
#icons .olControlZoomInItemActive, #icons .olControlZoomInItemActive:hover, #icons .olControlZoomInItemInactive:hover {
	background-image: url("img/icon-zoomin-on.png") !important;
}

#icons .olControlZoomOutItemInactive {
	background-image: url("img/icon-zoomout-off.png") !important;
	background-repeat: no-repeat;
	background-position: center;
}
#icons .olControlZoomOutItemActive, #icons .olControlZoomOutItemActive:hover, #icons .olControlZoomOutItemInactive:hover {
	background-image: url("img/icon-zoomout-on.png") !important;
}

/**
 * 	Measure
 */
#icons .pathItemInactive {
	background-image: url("img/icon-distance-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .pathItemInactive:hover, #icons .pathItemActive, #icons .pathItemActive:hover {
	background-image: url("img/icon-distance-on.png");
}
#icons .polygonItemInactive {
	background-image: url("img/icon-area-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .polygonItemInactive:hover, #icons .polygonItemActive, #icons .polygonItemActive:hover {
	background-image: url("img/icon-area-on.png");
}

/**
 * 	Previus - Next
 */
#icons .histPreviousItemInactive {
	background-image: url("img/icon-previous-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .histPreviousItemInactive:hover, #icons .histPreviousItemActive, #icons .histPreviousItemActive:hover {
	background-image: url("img/icon-previous-on.png");
}
#icons .histNextItemInactive {
	background-image: url("img/icon-next-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .histNextItemInactive:hover, #icons .histNextItemActive, #icons .histNextItemActive:hover {
	background-image: url("img/icon-next-on.png");
}

/**
 * 	Info
 */
#icons .infoItemInactive {
	background-image: url("img/icon-info-off.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .infoItemInactive:hover, #icons .infoItemActive, #icons .infoItemActive:hover {
	background-image: url("img/icon-info-on.png");
}

/**
 * 	Fullscreen
 */
#icons .fsItemInactive {
	background-color: transparent;
	background-image: url("img/icon-fullscreen-on.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .fsItemInactive:hover, #icons .fsItemActive, #icons .fsItemActive:hover {
	background-color: transparent;
	background: none repeat scroll rgba(255, 255, 255, 0.1);
	background-image: url("img/icon-fullscreen-on.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

/**
 * 	Salir
 */
#icons .closeFsItemInactive {
	background-color: transparent;
	background-image: url("img/icon-close.png");
	background-repeat: no-repeat;
	background-position: center;
}
#icons .closeFsItemInactive:hover {
	background-color: transparent;
	background-image: url("img/icon-close2.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#icons .closeFsItemActive, #icons .closeFsItemActive:hover {
	background-color: transparent;
	background: none repeat scroll rgba(255, 255, 255, 0.1);
	background-image: url("img/icon-close2.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

#icons .close2ItemInactive, #icons .close2ItemInactive:hover {
	height: 0px;
	width: 0;
	display: none;
}
#icons .close2ItemActive, #icons .close2ItemActive:hover {
	height: 0px;
	display: none;
	width: 0;
}

#ajaxloader {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	height: 24px;
	width: 300px;
	margin-left: -150px; /* -1 * div width / 2 */
	margin-top: -12px; /* -1 * div height / 2 */
	text-align: center;
}
#ajaxloader img {
	vertical-align: middle;
}

#attribution {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 0 0;
	text-align: center;
	padding-top: 6px;
	height: 28px;
	width: 120px;
	color: #fff;
	margin-left: 50%;
	margin-right: 50%;
	left: -60px;
	right: -60px;
	bottom: 0px;
	z-index: 1200;
	/* font-size: smaller;*/
	font-size: 1.1em;
	/*background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 20%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* IE10+ */
	/*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 */
}
#attribution a {
	text-decoration: none;
	color: #fff;
}

/**
 * 	HELP
 */

/* el contenedor */
.vmcc3 {
	/*display: inline-block;*/
	position: absolute;
	height: 38px;
	width: 38px;
	bottom: 2px;
	/*top: 2px;*/
	left: 6px;
	z-index: 1200;
	/*vertical-align:bottom;*/
}
.vmcc3 #ico-help {
	background-image: url("img/icon-help.png");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	top: 1px;
}
.vmcc3 #ico-help:hover {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background: none repeat scroll rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0.14em 0.10em rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	background-image: url("img/icon-help-hover.png");
}

.vmcc3 > a {
	position: relative;
}
/* el div oculto donde se mostrará la imagen completa y ocupará toda la pantalla */
.vmoverlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 0;
	width: 0;
	z-index: 1300;
}
/* el enlace para cerrar la ventana modal es un texto pero puede ser una imagen */
.vmoverlay a.vmcerrar {
	width: auto;
	color: #FFF;
	font-size: 26px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 4%;
	left: 20%;
	z-index: 1301;
	-moz-transition: opacity 0.3s linear 1.2s;
	-webkit-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
/**
 * 	*/
.vmoverlay-qr {
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 8px;
	
	height: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 0;
	width: 0;
	z-index: 1300;	
	
}
/* el enlace para cerrar la ventana modal es un texto pero puede ser una imagen */
.vmoverlay-qr a.vmcerrar {
	
	width: 29px;
	height:29px;	
	/*border-bottom: 1px solid rgba(255,255,255,0.6);*/
	font-size: 26px;
	text-align:right;
	opacity: 0;	
	position: absolute;
	top: 0px;
	right: 0px;	
	z-index: 1401;
	
	-moz-transition: opacity 0.3s linear 1.2s;
	-webkit-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.vmoverlay-qr:target {
	height: 200px;
	width: 300px;
	padding-top: 100px;
	margin-left: 50%;
	margin-top: 10%;	
	left: -150px;
}
.vmoverlay-qr:target a.vmcerrar {
	opacity: 1;
}
/* la imagen de tamaño completo */
.vmoverlay img {
	max-height: 100%;
	position: relative;
}
/* la pseudo-clase es la que abrirá la ventana modal */
.vmoverlay:target {
	bottom: 0;
	height: auto;
	padding-top: 100px;
	right: 0;
	width: auto;
}
/* las animaciones */
.vmoverlay:target img {
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.vmoverlay:target a.vmcerrar {
	opacity: 1;
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/**
 * 	Share
 */
.vmcc4 {
	/*display: inline-block;*/
	position: absolute;
	height: 38px;
	width: 38px;
	bottom: 42px;
	left: 6px;
	z-index: 1300;
	/*vertical-align:bottom;*/
}
.vmcc4 #ico-qr {
	background-color: transparent;
	background-image: url("img/icon-share-off.png");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	top: 1px;
}
.vmcc4 #ico-qr:hover {
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background: none repeat scroll rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0.14em 0.10em rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	background-image: url("img/icon-share-on.png");
}

/**
 * 	Legend
 */

#content_legend {
	position: absolute;
	overflow: auto;
	height: 100%;
	margin-left: 2px;
}

/*
 * style popup API
 */

#tapi {
	padding: 0;
	list-style: none;
	width: auto;
	max-width: 180px;
	min-width: 140px;
	font-size: 11px;
	background: #c1c1c1;
	border: 1px solid rgba(0,0,0,0.8);
}

#tapi li a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	border-top: 1px solid rgba(255,255,255, 0.2);
	background: #3e3f44;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFF;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.3);
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding: 2px;
	padding-left: 2px;
}
#tapi li ul li a {
	font-size: 11px;
	color: #47689d;
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
	text-transform: none;
}
#tapi li a:hover {
	background: #4a6ba2;
	-moz-transition: background 0.4s ease-in;
	-webkit-transition: background 0.4s ease-in;
	-o-transition: background 0.4s ease-in;
	font-weight: bold;
}
#tapi ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 0;
	overflow: hidden;
	transition: 1;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
#tapi li:hover ul {
	min-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
#tapi ul li a {
	background: #fafafa;
}
#tapi ul li a:hover {
	background: none repeat scroll 0 0 #ccc;
	color: #000;
	-moz-transition: color 0.4s ease;
	-webkit-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
}

/**
 * 	Ayuda
 */
.popupFrame2 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;		
	font-size: 15px;
	text-align:center;	
	color: #fff;
}
.popupFrame2 h1{
	font-size: 1.3em;
}

.popupFrame {
	position: absolute;
	width: 50%;
	margin-right: 50%;
	margin-left: 50%;
	left: -25%;
	right: -25%;
	bottom: 10%;
	overflow: auto;
	top: 10%;
	font-size: 15px;
	text-align:center;
	padding: 1.5em 1em 1em 1em;
	color: #fff;
}
.popupFrame table {
	border-collapse: collapse;
}
.popupFrame strong {
	font-size: 15px;
}
.popupFrame table td {
	padding: 0.2em;
	border-bottom: 1px dotted #999999;
	text-align: left;
}

.color-user {
	background-color: rgba(0, 0, 0, 0.8);
}

/**
 * cod QR - Social Buttons
 */
#qrsb {
	position: absolute;
	top:60px;
	width:100%;
	height:50px;
	text-align: center;
}	

#permaQR-div {
	
	position:absolute;
	width: 100%;
	text-align:center;
	height:auto;
		
	bottom: 30px;
}

#permaQR {
	-moz-transition: opacity 0.3s linear 1.2s;
	-webkit-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}

#qrsb > button{
	width: 42px;
	height: 42px;
	background-color: rgba(0, 0, 0, 0.7);	
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 25px;
	border: 1px solid;
}
#sb1{background-image: url('img/icon-facebook-off.png');}
#sb2 {background-image: url('img/icon-google-off.png');}
#sb3 {background-image: url('img/icon-twitter-off.png');}

#qrsb > button:hover{box-shadow: 0 0 0.15em 0.08em rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.9);	
}
#sb1:hover{background-image: url('img/icon-facebook-on.png');}
#sb2:hover {background-image: url('img/icon-google-on.png');}
#sb3:hover {background-image: url('img/icon-twitter-on.png');}

