html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	min-height: 500px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}

#map {
	height: 100%;
}

#tools {
	position: absolute;	
	z-index: 1200;
	background-color: transparent;
	/*background: none repeat scroll rgba(0, 0, 0, 1);*/
	top: 40px;	
	width: 50px;
	height: 100%;
			
	/*overflow: hidden;*/
	/*border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	border-left:2px solid rgba(0, 0, 0, 0.5);
	border-right:2px solid rgba(0, 0, 0, 0.5);
	border-radius: 0 0 6px 6px;
	color: #fff;*/
}

#tools #icons {	
	position: absolute;
	overflow:auto;
	width:auto;
	height: 100%;	
}

/*#tools #measure {
	width:auto;
	height: 400px;
	position: absolute;	
	bottom: 0px;
	right: 0px;
	padding-right: 10px;	
	text-align:right;
	
}*/
#tools #measure {
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0 0 8px 8px;
	width:185px;
	min-height: 0px;
	max-height: 40px;
	position: relative;	
	left: 92px;
	top: -41px;
	padding-top: 1px;
	padding-bottom: 1px;	
	text-align: center;
	font-size: 14px;	
}

#icons .olButton {
	position: relative;	
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;	
	margin-left: 50%;
	margin-right: 50%;
	left: -20px;
	right: -20px;
	margin-top: 3px;
	
}

#icons .olButton:hover {
	background: none repeat scroll rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	
}
/**
 * 	Vista inicial
 */
#icons .olControlZoomToMaxExtentItemInactive,
#icons .olControlZoomToMaxExtentItemActive {
    background-image: url("img/icon-world.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}
#icons .olControlZoomToMaxExtentItemInactive:hover,
#icons .olControlZoomToMaxExtentItemActive:hover {
    background-image: url("img/icon-world.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Move
 */
#icons .panItemInactive, #icons .panItemInactive:hover {
	background-image: url("img/icon-move-off.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .panItemActive, #icons .panItemActive:hover {
	background-image: url("img/icon-move-on.png");
	background-repeat: no-repeat;
	background-position:center;		
}

/**
 * 	Zoom
 */
#icons .olControlZoomInItemInactive,
#icons .olControlZoomInItemActive {
    background-image: url("img/icon-zoomin.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}
#icons .olControlZoomInItemActive:hover,
#icons .olControlZoomInItemInactive:hover {
    background-image: url("img/icon-zoomin.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}

#icons .olControlZoomOutItemInactive,
#icons .olControlZoomOutItemActive {
    background-image: url("img/icon-zoomout.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}
#icons .olControlZoomOutItemActive:hover,
#icons .olControlZoomOutItemInactive:hover {
    background-image: url("img/icon-zoomout.png") !important;
    background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Measure
 */
#icons .pathItemInactive, #icons .pathItemInactive:hover {
	background-image: url("img/icon-distance-off.png");
	background-repeat: no-repeat;
	background-position:center;
}
 
#icons .pathItemActive, #icons .pathItemActive:hover {
	background-image: url("img/icon-distance-on.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .polygonItemInactive, #icons .polygonItemInactive:hover {
	background-image: url("img/icon-area-off.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .polygonItemActive, #icons .polygonItemActive:hover {
	background-image: url("img/icon-area-on.png");	
	background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Previus - Next
 */
#icons .histPreviousItemInactive, #icons .histPreviousItemInactive:hover {
	background-image: url("img/icon-previous-off.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .histPreviousItemActive, #icons .histPreviousItemActive:hover {
	background-image: url("img/icon-previous-on.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .histNextItemInactive, #icons .histNextItemInactive:hover {
	background-image: url("img/icon-next-off.png");
	background-repeat: no-repeat;
	background-position:center;
}
#icons .histNextItemActive, #icons .histNextItemActive:hover {
	background-image: url("img/icon-next-on.png");
	background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Info
 */
#icons .infoItemInactive, #icons .infoItemInactive:hover {
	background-image: url("img/icon-info-off.png");
	background-repeat: no-repeat;
	background-position:center;
}

#icons .infoItemActive, #icons .infoItemActive:hover {
	background-image: url("img/icon-info-on.png");
	background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Fullscreen
 */
#icons .fsItemInactive, #icons .fsItemInactive:hover {
	background-color: transparent;
	background-image: url("img/icon-full-screen.png");		
	background-repeat: no-repeat;
	background-position:center;
}
#icons .fsItemActive, #icons .fsItemActive:hover {
	background-color: transparent;
	background-image: url("img/icon-full-screen.png");		
	background-repeat: no-repeat;
	background-position:center;
}

/**
 * 	Salir
 */
#icons .closeFsItemInactive{
	background-color: transparent;
	background-image: url("img/icon-close.png");		
	background-repeat: no-repeat;
	background-position:center;
}
#icons .closeFsItemInactive:hover{
	background-color: transparent;
	background-image: url("img/icon-close2.png");		
	background-repeat: no-repeat;
	background-position:center;
}
#icons .closeFsItemActive, #icons .closeFsItemActive:hover{
	background-color: transparent;
	background-image: url("img/icon-close2.png");		
	background-repeat: no-repeat;
	background-position:center;
}


#icons .close2ItemInactive, #icons .close2ItemInactive:hover{
	height: 0px;
	width:0;
	display:none;
}
#icons .close2ItemActive, #icons .close2ItemActive:hover{
	height: 0px;
	display:none;
	width:0;
}

#ajaxloader {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	height: 24px;
	width: 300px;
	margin-left: -150px; /* -1 * div width / 2 */
	margin-top: -12px; /* -1 * div height / 2 */
	text-align: center;
}
#ajaxloader img {
	vertical-align: middle;
}

#attribution {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 0 0;
	text-align: center;
	padding-top: 6px;	
	height: 28px;
	width: 120px;
	color: #fff;
	margin-left: 50%;
	margin-right: 50%;
	left: -60px;
	right: -60px;
	bottom: 0px;
	z-index: 1200;
	/* font-size: smaller;*/
	font-size: 1.1em;
	/*background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 20%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* IE10+ */
	/*background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 20%,rgba(255,255,255,0.4) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 */
}
#attribution a {
	text-decoration: none;
	color: #fff;
}

/**
 * 	HELP
 */

 /* el contenedor */
  .vmcc3 {
    /*display: inline-block;*/
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    margin-left: 50%;
    margin-right: 50%;
    left: -20px;
    right: -20px;
    z-index: 1200;
   
    /*vertical-align:bottom;*/ 
  }
  .vmcc3 #ico-help{
  	background-image: url("img/icon-help.png");
  	background-color: transparent;			
	background-repeat: no-repeat;
	background-position:center;
  	
  	
  	display: block;
  	top: 1px; 	
  	}
  .vmcc3 #ico-help:hover {
  	background-image: url("img/icon-help-hover.png");
  	background-color: transparent;			
	background-repeat: no-repeat;
	background-position:center; 
  	display: block;
  	top: 1px; 	
  	}
  	
  .vmcc3 > a {position: relative;}
  /* el div oculto donde se mostrar치 la imagen completa y ocupar치 toda la pantalla */
  .vmoverlay{
    background-color: rgba(0, 0, 0, 0.9);
    height: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    width: 0;
    z-index: 1300;
  }
  /* el enlace para cerrar la ventana modal es un texto pero puede ser una imagen */
  .vmoverlay a.vmcerrar {
  	width: auto;
    color: #FFF;
    font-size: 26px;    
    opacity: 0;
    overflow: hidden;
    position: absolute;    
    top: 4%;
    left: 20%;
    z-index: 1301;
    -moz-transition: opacity 0.3s linear 1.2s;
    -webkit-transition: opacity 0.3s linear 1.2s;
    -o-transition: opacity 0.3s linear 1.2s;
    -ms-transition: opacity 0.3s linear 1.2s;
    transition: opacity 0.3s linear 1.2s;
  }
  /* la imagen de tama침o completo */
  .vmoverlay img {
    max-height: 100%;
    position: relative;
  }
  /* la pseudo-clase es la que abrir치 la ventana modal */
  .vmoverlay:target {
    bottom: 0;
    height: auto;
    padding-top: 100px;
    right: 0;
    width: auto;
  }
  /* las animaciones */
  .vmoverlay:target img {
    -moz-animation: fadeInScale 1.2s ease-in-out;
    -webkit-animation: fadeInScale 1.2s ease-in-out;
    -o-animation: fadeInScale 1.2s ease-in-out;
    -ms-animation: fadeInScale 1.2s ease-in-out;
    animation: fadeInScale 1.2s ease-in-out;
  }
  .vmoverlay:target a.vmcerrar { opacity: 1;}
  @-webkit-keyframes fadeInScale {
    0% { -webkit-transform: scale(0.6); opacity: 0; }
    100% { -webkit-transform: scale(1); opacity: 1; }
  }
  @-moz-keyframes fadeInScale {
    0% { -moz-transform: scale(0.6); opacity: 0; }
    100% { -moz-transform: scale(1); opacity: 1; }
  }
  @-o-keyframes fadeInScale {
    0% { -o-transform: scale(0.6); opacity: 0; }
    100% { -o-transform: scale(1); opacity: 1; }
  }
  @-ms-keyframes fadeInScale {
    0% { -ms-transform: scale(0.6); opacity: 0; }
    100% { -ms-transform: scale(1); opacity: 1; }
  }
  @keyframes fadeInScale {
    0% { transform: scale(0.6); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }

/**
 * 	Legend
 */

#content_legend{
	position:absolute;
	overflow: auto;
	height: 100%;
	margin-left: 2px;

}


/*
 * style popup API
 */

#tapi {
	padding: 0;
	list-style: none;
	width: auto;
	max-width: 180px;
	min-width: 140px;
	font-size: 11px;
	background: #c1c1c1;
	border: 1px solid rgba(0,0,0,0.8);
}

#tapi li a {
	display: block;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	border-top: 1px solid rgba(255,255,255, 0.2);
	background: #3e3f44;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFF;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.3);
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding: 2px;
	padding-left: 2px;
}
#tapi li ul li a {
	font-size: 11px;
	color: #47689d;
	text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
	text-transform: none;
}
#tapi li a:hover {
	background: #4a6ba2;
	-moz-transition: background 0.4s ease-in;
	-webkit-transition: background 0.4s ease-in;
	-o-transition: background 0.4s ease-in;
	font-weight: bold;
}
#tapi ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 0;
	overflow: hidden;
	transition: 1;
	-moz-transition: 1s;
	-webkit-transition: 1s;
}
#tapi li:hover ul {
	min-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
#tapi ul li a {
	background: #fafafa;
}
#tapi ul li a:hover {
	background: none repeat scroll 0 0 #ccc;
	color: #000;
	-moz-transition: color 0.4s ease;
	-webkit-transition: color 0.4s ease;
	-o-transition: color 0.4s ease;
}

/**
 * 	Ayuda
 */
.popupFrame {    
    position: absolute;
    width:50%;
    margin-right: 50%;
    margin-left: 50%;
    bottom: 10%;
    overflow:auto;
    top: 10%;
    left: -25%;
    right: -25%;
    font-size: 15px;
    padding: 1.5em 1em 1em 1em;    
    color: #fff;
}
.popupFrame table {
    border-collapse:collapse;    
}
.popupFrame strong {
    font-size: 15px;    
}
.popupFrame table td {
    padding: 0.2em;
    border-bottom: 1px dotted #999999;    
    text-align: left;
}



